/* write your styles here */
 body{
    padding: 0%;
    margin: 0%;
}
marquee{
    background-color: red;
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: 5px;
    font-weight: bold;
  
}
mark{
    background-color: yellow;
    color: black;
}
header {
    display: flex;
    justify-content: space-between;
    background: #4d4d4d;
  }
  header img{
      height: 30px;
      margin:10px 20px;
  }
  header ul{
    display: flex;
    align-items: center;
    height: 90%;
    margin: 0;
    cursor: pointer; 
    list-style: none;
  }
  header ul li{
    margin:15px;
  }
li a{
    text-decoration: none;
    color: #c9c9c9;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
  .page{
        background: #f18d97;
        background-image:url(images/floral.png);
        display: flex;
        flex-direction:column;
        align-items: center;
  }
  .page h1{
        font-family: 'Montserrat', sans-serif;
        font-size: 50px;
    }

    .page p {
        font-family: 'Staatliches', cursive;
        font-weight: bold;
        font-size: 1em;
        border-top:1px solid black;
        border-bottom: 1px solid black;
        padding: 2%;

      }
      .page button {
        font-family: 'Montserrat', sans-serif;
        border: none;
        font-weight: bold;
        font-size: 20px;
        background: black;
        color: #f18d97;
        padding: 15px 70px;
        margin: 30px ; 
      }
      button:hover{
        color:black;
        background-color: red;
        transition: 1s;
      }
      .main{
        background: #eee9de;
        background-image: url(images/floral.png);    
      }
      .hang{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
      }
     .inner{
       text-align: center;
       padding: 1em;
       font-family: 'Pacifico', cursive;
       font-size: 20px;
     }
     i{
       font-size: 100px;
     }
     i:hover {
      color: red;
      transition: 1s;
     }
     .html-title {
        font-size: 15px;
        padding: 15px;
        font-family: 'Staatliches', cursive; 
        display: flex;
        justify-content: center;

    }
    .para{
      font-family: 'Muli', sans-serif;
      text-align: center;
      margin-top: 5px;
      
    }
    .hang{
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: row;
    }
    .out{
        padding: 0px 50px 0px 150px;
    }
    .pic{
      background-image: url(images/floral.png);
      background-color: #afc7c6;
    }
    #cross{
      text-align: center;
      padding: 1em;
      font-family: 'Pacifico', cursive;
      font-size: 35px;
    }
    #btn{
      display: flex;
      justify-content: center;
    }
    #btn i{
      border: 1px solid black;
      font-size:2em;
      padding: 15px;
      border-radius: 100%;
      margin: 1% 0 0 10px;
    }
    #btn i:hover{
      color: #ddceb4;
      background-color: black;
      transition: 1s;
    }
   footer{
      text-align: center;
      background-color: black;
      color: white;
      font-family: 'Muli', sans-serif;
      padding: 1em;
    }
    footer:hover i{
      color: #ed484c;
      transition: 1s;
    }
   
 
    
       
     
    
     
    
     